<button (click)="onDetail()">Check details</button><br>
<br>
<button (click)="deleteDeveloper()">Delete developer</button><br>
<br>
<button a routerLink="/updateDeveloper/{{developer.id}}">Update developer</button>
<br>
<p><strong>Id</strong><br> {{ developer.id }} </p>
<p><strong>Name</strong><br> {{ developer.name }} </p>
<br>

<div *ngIf="developerDetails">
    <p><strong>Parent Company</strong><br> {{ developer.parentCompany }} </p>
    <p><strong>Creation date</strong><br> {{ developer.creationDate }} </p>

    <p><strong>Games</strong><br></p>
    <div *ngFor="let game of games">
        <p>Essayer d'afficher la liste des jeux</p>
    </div>
</div>
