<h3>Welcome !</h3>

<p>Here are your personnal informations :</p>
<div class="infos">
    <ul>
        <p>Username : {{ user.username }} </p>
        <p>Password : {{ user.password }} </p>
        <p>Email : {{ user.email }} </p>
    </ul>
    <br>
    <h4>Your favourites games</h4>
    <div *ngIf="user.games">
        <div *ngIf="user.games==null">
            <p>You have no games in your list</p>
        </div>
    </div>
    
</div>


<button (click)="onClickDisconnection()">Disconnect</button>