h3{
    text-align: center;
}

.game{
    margin: 2%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#entity{
    border: 1px solid black;
    border-radius: 15px;
    padding: 2%;
    max-width: 30%;
    text-align: center;
}

.footer{
    margin: 2%;
    padding: 1%;
}