<div class="user">
    <h2>Registration or connection</h2>

    <p>Choose between connect to your count or register a new one.</p>
    
    <div class="choice">
        <button (click)="onClickRegister()">Register</button>
        <button (click)="onClickConnection()">Connect</button>
    </div>
    
    
    <div *ngIf="isRegistration">
        <app-registration></app-registration>
    </div>

    <div *ngIf="isConnection">
        <div *ngIf="!isConnected()">
            <app-connection (user)="onSendUser($event)"></app-connection>   
        </div>

        <div *ngIf="isConnected()">
            <app-user-details></app-user-details>
        </div>
    </div>

</div>
