<div class="app-component">
    <div class="header">
        <h1>My Game List</h1>
    </div>


    <div class="nav">
        <nav>
            <ul>
                <li><a routerLink="/accueil">Reception</a></li>
                <li><a routerLink="/game">Game list</a></li>
                <li><a routerLink="/developer">Developer list</a></li>
                <li><a routerLink="/editor">Editor list</a></li>
                <!-- <li><a routerLink="/add">To the adding form</a></li> -->
                <li><a routerLink="/user">Connection/Registration</a></li>
            </ul>
        </nav>
    </div>
</div>



<router-outlet></router-outlet>