.app-component{
    background-image: url("src/img/back4.jpg");
    background-size: 1830px 870px;
    color: white;
    border-radius: 10px;
    padding: 1%;
}

.header{
    padding: 3%;
}

h1{
    text-align: center;
}

.nav{
    max-width: 45%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

ul{
    /* list-style-type: square; */
    list-style-type: circle;
}

a{
    color: white;
}