<div class="app-component">
    <div class="header">
        <h1>My Fucking (Holy Shit) Game List</h1>
    </div>


    <div class="nav">
        <nav>
            <ul>
                <li><a routerLink="/accueil">To the reception</a></li>
                <li><a routerLink="/game">To the game list</a></li>
                <li><a routerLink="/developer">To the developer list</a></li>
                <li><a routerLink="/editor">To the editor list</a></li>
                <li><a routerLink="/add">To the adding form</a></li>
                <li><a routerLink="/user">Connect</a></li>
            </ul>
            
        </nav>
    </div>
</div>



<router-outlet></router-outlet>