<div class="add">
    <h3>Form to add a game</h3>

    <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <label for="input-title">Title</label><br>
            <input type="text" id="input-title" formControlName="title" placeholder="The legend of Skyrim">
        </div>
        <br>
        <div>
            <label for="input-date">Release date</label><br>
            <input type="date" id="input-date" formControlName="releaseDate">
        </div>
        <br>
        <div>
            <label for="input-genre">Genre</label><br>
            <input type="text" id="input-genre" formControlName="genre" placeholder="Action, aventure ...">
        </div>
        <br>
        <div>
            <label for="input-portage">Portage</label><br>
            <input type="text" id="input-portage" formControlName="portage" placeholder="PS4 ...">
        </div>
        <br>
        <div>
            <label for="input-licence">Get a licence</label><br>
            <select placeholder="type" formControlName="getLicence">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <br>
        <div>
            <label for="input-developer">Developer</label><br>
            <select formControlName="developer">
                <option [ngValue]="dev" *ngFor="let dev of developers"> {{ dev.name }} </option>
            </select>
        </div>
        <br>
        <div>
            <label for="input-editor">Editor</label><br>
            <select formControlName="editor">
                <option [ngValue]="edit" *ngFor="let edit of editors"> {{ edit.name }} </option>
            </select>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <div class="button">
        <button class="button1" a routerLink="/add">Back</button><br>
        <button class="button1" a routerLink="/accueil">Back to reception</button>
    </div>
</div>