<div class="accueil">
    <h2>Welcome !</h2>

    <div class="intro">
        <h3>TODO LIST</h3>

        <h4>Cette application va permettre dans un premier temps de :</h4>
        <ol>
            <li>(C<strong>R</strong>UD)<mark> Lire des listes</mark> reprenant </li>
            <ul>
                <li>des <mark>jeux vidéos</mark></li> 
                <li>des <mark>éditeurs</mark></li>
                <li>des <mark>développeurs</mark></li>
            </ul>
            <li>(C<strong>R</strong>UD) Sélection une <mark>entité particulière pour y lire des détails</mark></li>
            <li>(<strong>C</strong>RUD) <mark>Insérer des entités</mark></li>
            <li>(CR<strong>U</strong>D) <mark>Mettre à jour</mark> des entités</li>
            <li>(CRU<strong>D</strong>) <mark>Supprimer des entités</mark></li>
        </ol>

        <h4>En plus, il serait bon de pouvoir </h4>
        <ul>
            <li><mark>Ajouter + mettre à jour le développeur (game)</mark> -> back et front</li>
            <li><mark>Ajouter + mettre à jour l'éditeur (game)</mark> -> back et front</li>
            <li>Petit détail : pouvoir afficher la <mark>liste de jeux liés à un développeur et à un éditeur</mark></li>
        </ul>

        <h4>Dans un second temps, l'application permettra de :</h4>
        <ol>
            <li>S'inscrire en tant qu'utilisateur</li>
            <li>Placer les jeux dans les catégories</li>
            <ul>
                <li>Déjà joué</li>
                <li>À faire</li>
            </ul>
            <li>Donner une cote à l'entité choisie (jeu)</li>
            <li>Faire un calendrier des prochaines sorties</li>
        </ol>

        <h4>Pour chaque catégorie, il serait bon de </h4>
        <ol>
            <li>Afficher une photo du jeu</li>
            <li>Réaliser la BD en sql (pas en h2)</li>
        </ol>

        <p>Pour avoir des idées de <a href="https://webflow.com/templates/tag/portfolio-websites">CSS/template</a></p>
        <p>Des idées en plus <a href="https://freefrontend.com/css-animated-backgrounds/">CSS animés</a></p>
    </div>
</div>
